.container{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    /* margin: auto; */
    /* margin-top: 200px; */
    padding:2rem;
    border-radius: 2rem;
    /* box-shadow: 0 0 0 0.8px black ,0 0 0 0.8px white; */
    /* padding: 3rem 2rem; */
    backdrop-filter: blur(5px);
    /* background: #fff; */
    /* padding-bottom: 30px; */
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: blueviolet;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px; 
    background:silver;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input i{
    margin: 0px 25px ;
    /* padding: 4px; */
    font-size: 1.5rem;
    font-weight: 600;
}

.input i:hover{
    /* border-radius: 100%; */
    /* background:skyblue;
    background-clip: text;
    color: transparent; */
    scale: (1.2);
    transform: rotateY(180deg);
    transition: 1s ease;
    /* transform: translateY(-4px); */

}

.input input{
    height: 50px;
    width: 380px;
    background: transparent;
    border: none;
    color: #797979;
    outline: none;
    font-size: 19px;

}

.forget-password{
    padding-left: 35px;
    margin-top: 27px;
    /* color: black; */
    color: aqua;
    font-size: 22px;
}

.forget-password span{
    font-size: 1rem;
    color: blue;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 40px;
    color: white;
    background: blueviolet;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #eaeaea;
    color: #676767;
}